# MIDTRANS_SERVER_KEY=your_server_key_here
# VITE_MIDTRANS_CLIENT_KEY=your_client_key_here
# RESEND_API_KEY=your_resend_api_key_here
# CONTACT_EMAIL_TO=amadday09@gmail.com
# VITE_SUPABASE_URL=https://sbqdzhytfjqddyhuudko.supabase.co
# VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNicWR6aHl0ZmpxZGR5aHV1ZGtvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcyODY3NTgsImV4cCI6MjEwMjg2Mjc1OH0.Y3pZgLOC2j-9_3pc6hDTgwA_cVBQVj86LrsHCr6uEmc